<ion-grid class="ion-no-padding">

  <ion-row *ngIf="selectedProvider && amount">
    <ion-col>
      <ion-row>
        <ion-col sizeXs="12" sizeSm="4" [offsetMd]="compareCharges ? 0 : 4">
          <app-charges-display [amount]="amount"
                               [provider]="selectedProvider">

          </app-charges-display>
        </ion-col>

        <ng-container *ngIf="compareCharges">
          <ng-container *ngFor="let operator of providers">

            <ion-col sizeXs="12" sizeSm="4" *ngIf="operator.name !== selectedProvider.name">
              <app-charges-display [amount]="amount"
                                   [provider]="operator">

              </app-charges-display>
            </ion-col>
          </ng-container>
        </ng-container>
      </ion-row>
    </ion-col>

  </ion-row>

</ion-grid>
