<ion-grid no-padding>

  <ion-row>
    <ion-col sizeMd="3" offsetMd="4">
      <ion-list-header>Mobile Money Charges Calculator</ion-list-header>
    </ion-col>
  </ion-row>

  <form novalidate [formGroup]="form">

    <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted"
         class="alert alert-danger" role="alert">
      <div><strong i18n="@@ohSnapFailure">Oops!</strong></div>
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>
    <div *ngIf="showMessages.success && messages && messages.length > 0 && !submitted"
         class="alert alert-success" role="alert">
      <div><strong i18n="@@hooraySuccess">Success!</strong></div>
      <div *ngFor="let message of messages">{{ message }}</div>
    </div>

    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-item>
          <ion-label>Provider</ion-label>
          <ion-select placeholder="Select provider" formControlName="provider">
            <ion-select-option value="mtn">MTN</ion-select-option>
            <ion-select-option value="orange">Orange</ion-select-option>
            <ion-select-option value="eu">Express Union</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.provider">
            <div class="error-message" *ngIf="provider.hasError(validation.type) && (provider.dirty || provider.touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-item>
          <ion-label>Amount</ion-label>
          <ion-input type="number" formControlName="amount"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.amount">
            <div class="error-message" *ngIf="amount.hasError(validation.type) && (amount.dirty || amount.touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-item>
          <ion-label>Compare charges?</ion-label>
          <ion-toggle formControlName="compareCharges"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="form.valid">
      <ion-col>
        <ion-row>
          <ion-col sizeMd="4" [offsetMd]="compareCharges.value ? 0 : 4">
            <app-charges-display [tariff]="activeTariff"
                                 [amount]="amount.value"
                                 [provider]="provider.value"></app-charges-display>
          </ion-col>

          <ng-container *ngIf="compareCharges.value">
            <ng-container *ngFor="let operator of providers">
              <ion-col sizeMd="4" *ngIf="operator.value !== provider.value">
                <app-charges-display [tariff]="getTariffForAmount(amount.value, tariffsForOperator(operator.value))"
                                     [amount]="amount.value"
                                     [provider]="operator.value">

                </app-charges-display>
              </ion-col>
            </ng-container>
          </ng-container>
        </ion-row>
      </ion-col>

    </ion-row>

  </form>

</ion-grid>
