<ion-list no-padding no-margin>
  <ion-list-header>
    <ion-label>Share MoMoCharges!</ion-label>
  </ion-list-header>

  <ion-item (click)="shareFacebook()">
    <ion-icon name="logo-facebook" color="primary"></ion-icon>&nbsp;
    <ion-label>Share on Facebook</ion-label>
  </ion-item>

  <ion-item (click)="shareTwitter()">
    <ion-icon name="logo-twitter"  color="primary"></ion-icon>&nbsp;
    <ion-label>Share on Twitter</ion-label>
  </ion-item>

  <ion-item (click)="shareWhatsApp()">
    <ion-icon name="logo-whatsapp"  color="primary"></ion-icon>&nbsp;
    <ion-label>Share with Whatsapp</ion-label>
  </ion-item>

  <ion-item (click)="shareEmail()">
    <ion-icon name="mail"  color="primary"></ion-icon>&nbsp;
    <ion-label>Share by Email</ion-label>
  </ion-item>

</ion-list>
