<ion-card>

  <ion-list lines="none">

    <ion-item-divider>
      <ion-label>{{provider.name}}</ion-label>
    </ion-item-divider>

    <ion-item *ngIf="intraTransferFee">
      <ion-label>
        <img class="provider-image" [src]="provider.logo" [alt]="provider.name"> <ion-icon class="direction-display" name="arrow-forward"></ion-icon> <img class="provider-image" [src]="provider.logo" [alt]="provider.name">
      </ion-label>
      <ion-text color="dark">{{intraTransferFee}}</ion-text>
    </ion-item>

    <ion-item *ngIf="interTransferFee">
      <ion-label>
        <img class="provider-image" [src]="provider.logo" [alt]="provider.name"> <ion-icon class="direction-display" name="arrow-forward"></ion-icon> Other
      </ion-label>
      <ion-text color="dark">{{interTransferFee}}</ion-text>
    </ion-item>

    <ion-item *ngIf="withdrawalFee">
      <ion-label>Withdrawal</ion-label>
      <ion-text color="dark">{{withdrawalFee}}</ion-text>
    </ion-item>

  </ion-list>

</ion-card>
