.provider-image {
  height: 20%;
  width: 20%;
  vertical-align: middle;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
}

.direction-display {
  vertical-align: middle;
}
