<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="onShare($event)">
              <ion-icon size="small" shape="round" slot="icon-only" name="share"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="app-bg">
    <ion-list>

        <app-charges></app-charges>

    </ion-list>

</ion-content>
